body.active_admin {
  main {
    width: 100%;

    parts {
      width: 33%;

      red_number_big {
        color: #ff0000;
        font-size: 50px;
      }
      black_number_big {
        color: #000000;
        font-size: 50px;
      }

    }

  }
}

$muted-red-color: rgba(255, 0, 0, 0.5);

.row-highlight-muted td {
  background-color: $muted-red-color !important;
}

.row-highlight-active {
  background-color: rgba(255, 16, 23, 0.37);
}

.panel-muted {
  h3 {
    background-color: $muted-red-color;
  }
  span {
    color: red;
  }
}